@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
.cls-1{fill:none;stroke:#020202;stroke-miterlimit:10;stroke-width:1.91px;}
.cls-2{fill:#020202;}
.dark.pathEllip{fill:#e2e8f0}
.dark\:fill-slate-200:where(.dark, .dark *) {
  fill: #e2e8f0 !important;
}
.dark\:stroke-slate-200:where(.dark, .dark *) {
  stroke: #e2e8f0 !important;
}
#bottom-0{
  bottom: 0;
}
.blog .swiper-wrapper{
  align-items: center !important;
}
.blog .swiper-wrapper img, .blog .swiper-wrapper video{
  margin: auto;
}
.swiper-button-prev ,.swiper-button-next {
  color: #ff6257 !important;
  display: none;
}
.swiper-button-disabled {
  color: #ff6257ba !important;
  display: none;
  visibility: hidden;
}
.swiper-pagination-bullet {
  background: #ff6257ba !important;
  opacity: 1;
}
@media (min-width: 500px){
  .swiper-button-prev ,.swiper-button-next {
    display: block;
  }
}
.swiper-pagination-bullet-active-main {
  @apply bg-brand;
  background: #ff6257 !important;
}
.toggle-checkbox:checked {
  @apply right-0 border-green-400;
  right: 0;
  border-color: #ff6257;
}
.toggle-checkbox:checked + .toggle-label {
  @apply bg-brand;
  background-color: #ff6257;
}
#vufqnuju .swiper-wrapper{
  align-items: stretch;
  flex-grow: 1;
  max-height: 79dvh;
}

.t29jez img, .t29jez video{
  flex: 1;
  width: auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
